{
  //
  // http://babeljs.io/docs/usage/babelrc
  // http://babeljs.io/docs/usage/options
  //

  "presets": [
    "es2015",
    "stage-0"
  ],

  "plugins": [

    // https://babeljs.io/docs/plugins/transform-regenerator
    "transform-regenerator",

    // http://babeljs.io/docs/plugins/transform-async-to-generator
    "transform-async-to-generator"
  ],

  "env": {
    "test": {
      "plugins": [
        // http://facebook.github.io/jest/docs/webpack.html#using-with-webpack-2
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
